<div class="banner">
 <div class="container">
  <div class="title-page" style="margin-top: 1rem ; margin-left: 2rem;"><h1>Discover our range of planets</h1></div>
  </div>
</div>

<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container mt-3">
  <div class="row">
    <% @planets.each do |planet| %>
      <div class="col-md-3 mb-4">
        <div class="card card-index" style="width: 20rem;">
          <%= link_to planet_path(planet) do %>
            <% if planet.photos.attached? %>
              <%= image_tag planet.photos.first, height: 250, width: 100, crop: :fill, class: "card-img-top image-index", alt: planet.title %>
            <% else %>
              <%= image_tag "planet.jpg", class: "card-img-top image-index", alt: "Default Image", height: 250, width: 100, style: "object-fit: cover;" %>
            <% end %>
          <% end %>
          <div class="card-body index-card-elements" style="padding: 0;">
            <p class="card-title m-0"> Take off to <%= planet.title %></p>
            <p class="card-text m-0"><%= planet.spaceport %></p>
            <p class="card-text m-0"><%= planet.renting_price%>/night</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
