  <h2><%= @planet.title %></h2>
  <p> Owner:  <%= @planet.user.name %> Departure Location: <br> <%= @planet.spaceport %><p>

  <div class="parent">
    <% if @planet.photos.attached? %>
      <% @planet.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 250, width: 100, crop: :fill, class: "card-img-top image-index" %>
        <% end %>
      <% else %>
        <%= image_tag "planet.jpg", class: "card-img-top image-index", alt: "Default Image", height: "100%", width: 100, style: "object-fit: cover;" %>
      <% end %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>
    </div>
  </div>

<div class="child show-details"> </div>
<div style="max-width: 1120px;"> </div>

<%= render "renting_form", planet: @planet, renting: @renting, class: "" %>
<%#
<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book Planet</button>
  <div data-rentings-target="togglableElement" class="d-none">
  </div>
</div> %>
