  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @planet.title %></h1>
    <h2><%= @planet.description %></h2>
    <p>Owner:<%= @planet.user.name %><p>
    <h3>Renting price:<%= @planet.renting_price %></h3>
    <a class="btn btn-flat" href="#">Make a booking</a>
  </div>
</div>

<a class="btn btn-ghost" href="#">Book now <%= link_to "Book now", "#", class: "btn btn-flat" %></a>
