  <h2><%= @planet.title %></h2>
  <p> Owner:  <%= @planet.user.name %> Departure Location: <br> <%= @planet.spaceport %><p>

  <div class="parent">
    <% if @planet.photos.attached? %>
      <% @planet.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 250, width: 100, crop: :fill, class: "card-img-top image-index" %>
        <% end %>
      <% else %>
        <%= image_tag "planet.jpg", class: "card-img-top image-index", alt: "Default Image", height: "100%", width: 100, style: "object-fit: cover;" %>
      <% end %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>
    </div>
  </div>

<div class="container show-planet">

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h3> Planet Details </h3>
          <h5 class="card-title"><%= @planet.title %></h5>
          <p class="card-text"> <b> Departure Location: </b> <br> <%= @planet.spaceport %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @planet.description  %></li>
          <li class="list-group-item">Renting Price: $<%= @planet.renting_price %></li>
          <li class="list-group-item">Owner: <%= @planet.user.name %></li>
        </ul>
        <% if current_user == @planet.user %>
          <div class="card-body d-flex p-2">
            <%= link_to "Edit Planet", edit_planet_path(@planet), class: "card-text" %>
            <%= link_to "Destroy Planet", planet_path(@planet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-text" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "renting_form", planet: @planet, renting: @renting, class: "" %>
<%#
<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book Planet</button>
  <div data-rentings-target="togglableElement" class="d-none">
  </div>
</div> %>
