  <div class="banner">
 <div class="container">
  <div class="title-page" style="margin-top: 1rem ; margin-left: 2rem;"><h1>All My Rentings</h1></div>
  </div>
</div>

<div class="container">

    <div class="d-flex justify-content-between my-3">
        <%= link_to "Back to Home", root_path, class:"btn btn-primary" %>
        <%= link_to "My offers", my_offers_rentings_path, class:"btn btn-primary" %>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Renting ID</th>
                <th>User</th>
                <th>Planet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @rentings.each do |renting| %>
                <tr>
                    <td><%= renting.id %></td>
                    <td><%= renting.user.name %></td>
                    <td><%= renting.planet.title %></td>
                    <td><%= link_to "Show details", renting_path(renting), class: "btn btn-info" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>
