<h1>My Planet Offers</h1>
<div id="my_offers">
  <% @rentings.each do |renting| %>
    <p> Planet ID: <%= renting.planet_id %> </p>
    <p> From: <%= renting.start_date %> </p>
    <p> To: <%= renting.end_date %> </p>
    <p> Status: <%= renting.status %> </p>
    <p>
      <%= link_to "Show this Offer", renting %>

      <button class="btn btn-light"> <%= link_to "Accept Renting",
        renting_path(renting),
        data: {turbo_method: :patch, turbo_confirm: "Do you want to accept this?"}
        %>
      </button>
      
      <button class="btn btn-danger">
        <%= link_to "Decline Renting",
          renting_path(renting),
          data: {turbo_method: :patch, turbo_confirm: "Do you want to decline this?"}
        %>
      </button>
    </p>

    ---------------------------------------------
  <% end %>
</div>
