<div class="show-renting">
  <img src="<%= @renting.planet.image_url %>" alt="<%= @renting.planet.title %>">
  <h1><%= @renting.planet.title %></h1>
  <p><%= number_to_currency(@renting.planet.renting_price, unit: "$", precision: 2) %></p>
  <p>Start Date: <%= @renting.start_date.strftime('%d %B, %Y') %></p>
  <p>End Date: <%= @renting.end_date.strftime('%d %B, %Y') %></p>
  <%= link_to "Back to Renting List", rentings_path %>
</div>

