<div><%= @renting.planet.image_url %></div>
<h1><%= @renting.planet.title %></h1>
<p><%= @renting.planet.renting_price %></p>
<p><%= @renting.start_date %></p>
<p><%= @renting.end_date %></p>

<div>
  <%= link_to "Back to renting list", renting_path %>
</div>